.idea/dictionaries/*.xml
.idea/workspace.xml
target/*
xssfinder-core/target/*
xssfinder-java-thrift/target/*
xssfinder-java-annotations/target/*
xssfinder-java-executor/target/*
xssfinder-test/target/*
xssfinder-php-executor/vendor/*
